In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
from scipy.stats import binomtest,chisquare,ttest_1samp
import seaborn as sns

In [5]:
df = sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [8]:
p = 0.5

df['time'].value_counts(normalize=True)

k = df["time"].value_counts()['Dinner']

n=len(df)

alpha = 0.2

p_value = binomtest(k=k,n=n,p=p).pvalue

if p_value < alpha:
    print("nous avons suffisament devidences pour rejetter h0")
else:
    print("nous navons pas suffisament d'evidences pour rejeter H0")

nous avons suffisament devidences pour rejetter h0

In [27]:

obs = df['day'].value_counts(normalize=True, sort=False).round(2).values
obs = obs * len(df) 

fre_exp = np.array([0.2, 0.1, 0.4, 0.3]) * len(df)

alpha  = 0.2

p_value = chisquare(f_obs=obs, f_exp=fre_exp).pvalue
print(f"Valeur p : {p_value}")

if p_value < alpha:
    print('nous avons suffisament delements pour rejetes h0')
else:
    print("nous navons pas suffisament dhipothese pour rejetter h0")

Valeur p : 0.16579578546681173
nous avons suffisament delements pour rejetes h0

In [29]:
df['tip'].describe()

count    244.000000
mean       2.998279
std        1.383638
min        1.000000
25%        2.000000
50%        2.900000
75%        3.562500
max       10.000000
Name: tip, dtype: float64

In [30]:
p_value=ttest_1samp(df['tip'],popmean=3.5).pvalue
alpha =0.2

if p_value < alpha:
    print('on as suffisament dhypotheses pour rejetters h0')
else:
    print("non on a pas pas ")

on as suffisament dhypotheses pour rejetters h0